* {
	outline: none;
}

.container {
	background: url('pawprint.jpg');
	height: 96%;
    width: 96%;
    position: absolute;
}

h1 {
    color: #ffffff;
    padding: 5px 94.5px;
    font-size: 30px;
    background: #004d00;
    width: 195px;
    opacity: .9;
    margin-bottom: 0;
}

.btnsContainer {
	position: relative;
	    background: rgba(196,220,206,0.9);
    width: 354px;
        padding: 15px 0px 15px 30px;
}

#preview, #data {
	display: inline;
	position: absolute;
}

#the-file-field {
    font-size: 12px;
    font-weight: bold;
    width: 175px;
    display: inline;
}

.parseBtn {
    margin: -4px 11%;
    padding: 5px 30px;
    border-radius: 5%;
    font-size: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    color: #004d00;
    position: absolute;
}

.parseBtn:hover {
	background-color: #9b9b9b;
}

.textarea {
    min-height: 60%;
    min-width: 70%;
    resize: none;
    overflow: auto;
    position: absolute;
    border: #ebebee;
    box-shadow: 0px 0px 10px 5px #ebebee;
    opacity: .95;
    right: 15%;
    top: 32%;
}